
.box{
    background: #20242f91;
    padding: 3rem 2rem 1rem 2rem;
    border-radius: 10px;
    text-align: center;
}
input{
    margin: .5rem 0;
    padding: .5rem 1rem;
    width: 100%;
    color: white;
    background-color: #49506371;
    border: none;
    border-radius: 20px;
    text-align: center;
}
input:focus{
    outline: none;
}


button:disabled,
button[disabled]{
    cursor: not-allowed;
}

.btn{
    width: 100%;
    padding: .5rem;
    text-align: center;
    border: none;
    margin: .5rem 0;
    border-radius: 20px;
    color: #fff;
    background-image: linear-gradient(to right bottom, #f54b64, #f75b61, #f76960, #f77660, #f78361);

}

p{
    margin-top: 2rem;
    color: #fff;
    font-size: .8rem;
    text-decoration: none;
    cursor: pointer;
}