<img src="../../assets/images/cross.png" alt="" class="back-btn" [routerLink]="'/'">
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-6">
            <h1>Reset password</h1>
        </div>
        <div class="col-sm-6">
            <div class="box">
                <h2>Reset password</h2>
                <p>{{errorMessage}}</p>
                <div class="new-password">
                    <input type="password" name="newPassword" [(ngModel)]="newPassword" placeholder="New Password"
                        id="newPassword" required>
                    <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword"
                        placeholder="Conform Password" id="confirmPassword" required>
                    <button type="submit" (click)="resetPassword()" class="btn">Reset Password</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- *ngIf="success" -->
<div class="success-box" *ngIf="success">
    <div class="content">
        <p>Password Reset</p>
        <p>Successful</p>
        <p [routerLink]="['/login']">Login</p>
    </div>
</div>