<div class="box">

<p *ngIf="status">{{status}}</p>
    <input type="text" name="username" [(ngModel)]="user.username" placeholder="Username" id="username" autocomplete="off" required>
      <input type="password" name="password" [(ngModel)]="user.password" placeholder="Password" id="password" required>
    <button type="submit" (click)="login()" class="btn">Login <i class="fas fa-sign-in-alt"></i></button>
    <!-- <a class="btn waves-effect waves-light" (click)="login()" >Login
        <i class="material-icons">exit_to_app</i>
    </a> -->
  <!-- </div> -->
  <!-- </form> -->
  
  <p><a (click)="routeTo()">New user? Create Account</a></p>
</div>