<div class="bodycontent container-fluid">
  <div class="row">
    <div class="col m6 l7">

    </div>
    <div class="col m6 l5">
        <!-- <a routerLink="register">New user? Create Account</a> -->
        <!-- </div> -->
        <!-- <div class="link" *ngIf="registerWindow"> -->
          <!-- <a routerLink="login">Already have an account? Sign in</a> -->
      <router-outlet></router-outlet>
      <!-- <div class="link" *ngIf="loginWindow">
        <a routerLink="register">New user? Create Account</a> -->
        <!-- <a routerLink="register" (click)="changeWindow()" *ngIf="loginWindow==true">New user? Create Account</a> -->
      <!-- </div> -->
      <!-- <div class="link" *ngIf="registerWindow"> -->
        <!-- <a routerLink="login" (click)="changeWindow()" *ngIf="loginWindow==false">Already have an account? Sign in</a> -->
        <!-- <a routerLink="register" *ngIf="window=='login'">New user? Create Account</a> -->
      <!-- </div> -->
    </div>
  </div>
</div>