<div class="container-fluid">
    <div class="box">
        <h2>Find new friends nearby</h2>
        <p>With millions of users all over the world, we give you ability to connect with poeple no matter where you
            are.</p>
        <button [routerLink]="['login']" class="btn login-btn">Log in</button>
        <!-- <button (click)="openProfileDailog()" class="btn login-btn">Log in</button> -->
        <button [routerLink]="['register']" class="btn signup-btn">Sign up</button>
    </div>
</div>