<div class="chatRoom container">
  <div class="row">
    <div class="col-12">
      <div class="chatContent">
        <div class="chatHeader">
          <a routerLink="/contacts"><i class="fas fa-chevron-left"></i></a>
          <img src={{chatuser.profilePicUrl}} alt="">
          <span class="chatHead">{{chatuser.username}}</span>
        </div>

        <div class="chatContainer">
          <div class="chatBox">
            <textarea rows="1" [(ngModel)]="textMsg" placeholder="Type your message here"></textarea>
            <button class="btn" (click)="onSubmit()"><i class="fas fa-location-arrow"></i></button>
          </div>
          <div class="messageBox">
            <div class="box" *ngFor="let message of messages">
              <div class="usermsg" *ngIf="message.sender==user._id; else elseBlock">
                {{message.messageBody}}
                <div class="sending" *ngIf="sending">
                  <div class="preloader-wrapper small active">
                    <div class="spinner-layer spinner-blue-only">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div>
                      <div class="gap-patch">
                        <div class="circle"></div>
                      </div>
                      <div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <ng-template #elseBlock>
                <div class="user2msg">
                  {{message.messageBody}}
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-1"></div> -->
  </div>
</div>