.chatRoom{
    height: 100%;
    /* width: 100%; */
    padding: 0;
    margin: 0;
}

.row{
    height: 100%;
    /* width: 100%; */
    padding: 0;
    margin: 0;
}

.col-12{
    padding: 0;
    margin: 0;
}

.chatContent{
    height: 100%;
    width: 100%;
    /* padding: 20px 0 20px 20px; */
}

.chatHeader{
    display: flex;
    align-items: center;
    height: 4rem;
    /* padding: .5rem 0; */
}
.chatHeader a{
    margin: 0 2rem;
    color: white;
}
/* .chatUserProfile{
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius:30px;
} */

img{
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
}

.chatHead{
    color: white;
    padding: 0 1rem;
    font-size: 1.4rem;
}

.chatContainer{
    width: 100%;
    /* height: 84vh; */
    height: calc(100% - 4rem);
    padding: 1rem 1rem 0 1rem;
    display: flex;
    flex-direction: column-reverse;
}
.messageBox{
    margin:0;
    padding: 0 1rem 0 0;
    height: calc(100vh - 10rem);
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
}

.box{
    margin: .2rem 0;
    width: 100%;
}
.user2msg{
    background: white;
    border-radius: 10px;
    border-top-left-radius: 0;
    padding: .3rem .8rem;
    max-width:80%; 
    color: black;
    float: left;
    clear: both;
    word-wrap: break-word;
}

.usermsg{
    background-image: linear-gradient(to right bottom, #f54b64, #f75b61, #f76960, #f77660, #f78361);
    border-radius: 10px;
    border-top-right-radius: 0;
    padding: .3rem .8rem;
    max-width: 80%;
    color: white;
    float: right;
    /* clear: both; */
    word-wrap: break-word;
    
}

.sending{
    float: right;
    margin-left: 15px; 
    margin-top: 3px;
    display: flex;
}
.preloader-wrapper{
    /* margin-left: 10px; */
    
    height: 18px;
    width: 18px;
}



.chatBox{
    height: 3rem;
    padding: .5rem 0 0 0;
    /* padding: .5rem .5rem 0 .5rem; */
    display: flex;
    align-items: inherit;
    justify-content: space-between;
}
.input-field{
    width: 100%;
    margin: 0;
}
textarea{
    width: 100%;
    padding: .5rem 1rem;
    margin: 0;
    border-radius: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    /* font-size: 16px; */
    color: #fff;
    border: none;
    background-color: #495063;
    resize: none;
}


.btn{
    /* height: 2rem;
    width: 2rem; */
    background-image: linear-gradient(to right bottom, #f54b64, #f75b61, #f76960, #f77660, #f78361);
    /* padding: 12px; */
    border: none;
    border-radius: 50%;
    margin-left: 1rem;
}
.btn:focus{
    outline: none;
}

i{
    font-size: 1rem;
    color: #fff;
}
/* .chevron{
    font-size: 40px;
} */
a{
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.btn:focus, textarea:focus{
    outline: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}




@media (max-width: 767px){
    .chatContainer{
        padding: 0;
    }
    .chatHeader a{
        margin-left: 0;
    }
}
@media (max-width: 576px){
    .chatRoom{
        margin: 0 auto;
    }
    .col-12{
        padding: 1rem;
    }
    .chatHeader a{
        margin-left: 0;
    }
}
