<img src="../../../assets/images/back.png" alt="" class="back-btn" [routerLink]="'/login'">
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-6">
            <h1>Forgot password</h1>
        </div>
        <div class="col-sm-6">
            <div class="box">
                <h2>Forgot password</h2>
                <p>{{errorMessage}}</p>
                <div class="email-input">
                    <input type="text" name="email" [(ngModel)]="email" placeholder="Email" id="email"
                        autocomplete="off" required>

                    <button type="submit" (click)="sendPasswordResetLink()" class="btn">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- *ngIf="success" -->
<div class="success-box" *ngIf="success">
    <div class="content">
        <p>Link sent to your Email<br>to reset your password</p>
    </div>
</div>