<div class="container-fluid">
  <div class="row">
    <div class="col col-12 col-sm-5 col-md-5 col-lg-4">
      <div class="navtabs">
        <div class="tabs" [ngClass]="{isActive:tabs[0]}" (click)="tabs[0]=true;tabs[1]=false;tabs[2]=false"><img
            src="../../assets/images/friends-logo.png" alt="" class="img-logo"></div>
        <div class="tabs" [ngClass]="{isActive:tabs[1]}" (click)="tabs[0]=false;tabs[1]=true;tabs[2]=false"><img
            src="../../assets/images/search-logo.png" alt="" class="img-logo"></div>
        <div class="tabs" [ngClass]="{isActive:tabs[2]}" (click)="tabs[0]=flase;tabs[1]=false;tabs[2]=true"><img
            src="../../assets/images/notification-logo.png" alt="" class="img-logo"></div>
        <i (click)="openProfileDailog()" class="fas fa-ellipsis-v"></i>
      </div>

      <!-- friends tab -->
      <div class="tabContent contactsContent" *ngIf="tabs[0]">
        <div class="contactsHead header">Friends</div>
        <div class="contactList">
          <ul class="contact-collection">
            <li class="contact-item" *ngFor="let contact of contacts" (click)="onClick(contact)">
              <div class="img" (click)="openImgBox(contact.pic)"><img src={{contact.profilePicUrl}} class="img-fluid">
              </div>
              <p class="contactsName">{{contact.username}}</p>
            </li>
          </ul>
        </div>
      </div>
      <!-- friends tab end -->

      <!-- search tab -->
      <div class="tabContent searchContent" *ngIf="tabs[1]">
        <div class="searchHead header">Search</div>
        <input type="text" name="search" [(ngModel)]="searchText" id="search" placeholder="Search here" (keyup)="search($event)">

        <div class="searchList">
          <ul class="search-collection">
            <li class="search-item" *ngFor="let item of searchItems">
              <div class="img" (click)="openImgBox(contact.pic)"><img src={{item.profilePicUrl}} class="img-fluid">
              </div>
              <p class="contactsName">{{item.username}}</p>
              <div class="m-auto"></div>
              <button class="add-friend-btn btn" (click)="addFriend(item)"><i class="fas fa-plus"></i> Add Friend</button>
            </li>
          </ul>
        </div>
      </div>
      <!-- search tab end -->

      <!-- requests tab -->
      <div class="tabContent notificationContent" *ngIf="tabs[2]">
        <div class="notificationHead header">Requests</div>
        <div class="notificationList">
          <ul class="notification-collection">
            <li class="notification-item" *ngFor="let request of requests">
              <div class="img" (click)="openImgBox(contact.pic)"><img src={{request.profilePicUrl}} class="img-fluid">
              </div>
              <p class="notificationName">{{request.username}}</p>
              <div class="m-auto"></div>
              <button class="requests-btn btn" (click)="confirmRequest(request)"><i class="fas fa-check"></i></button>
              <button class="requests-btn btn" (click)="deleteRequest(request)"><i class="far fa-trash-alt"></i></button>
            </li>
          </ul>
        </div>
      </div>
      <!-- requests tab end -->
    </div>

    <div class="col contact-chatroom">
      <app-chatroom></app-chatroom>
    </div>
  </div>
</div>