<div class="container-fluid">
  <div class="row">

    
<!-- <div class="col col-2 col-sm-1">
  snaket
</div> -->
    <div class="col col-12 col-sm-5 col-md-5 col-lg-4">
      <div class="contactsContent">
        <div class="contactsHeader">
          <span class="contactsHead">Contacts</span><i (click)="openProfileDailog()" class="fas fa-ellipsis-v"></i>
          <!-- <input type="text" name="search" placeholder="Search" class="search" id="search"> -->

          <!-- <button type="button" (click)="openProfileDailog()"></button> -->
        </div>
        <div class="contactList">
          <ul class="contact-collection">
            <li class="contact-item" *ngFor="let contact of contacts" (click)="onClick(contact)">
              <div class="img" (click)="openImgBox(contact.pic)"><img src={{contact.profilePicUrl}} class="img-fluid">
              </div>
              <p class="contactsName" >{{contact.username}}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col contact-chatroom">
      <app-chatroom></app-chatroom>
    </div>
  </div>
</div>