.container-fluid{
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}
.row{
    padding: 0;
    margin: 0;
    height: 100vh;
}
.col{
    padding: 1rem;
    height: 100vh;
    color: white;
}

/* navigation tabs */
.navtabs{
    height: 2rem;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navtabs .tabs{
    padding: 5px 0;
    width: 100%;
    cursor: pointer;
    text-align: center;
}
.navtabs .tabs.isActive{
    border-bottom: 1px solid white;
}
.navtabs .tabs .img-logo{
    height: 1.2rem;
}
.navtabs i{
    padding: .5rem 1rem;
    cursor: pointer;
}


/* common css */
.tabContent{
    height: calc(100% - 2rem);
    width: 100%;
}
.header{
    padding-top: 1rem;
    color: white;
    font-size: 1.5rem;
}

/* friends tab */
.contactList{
    height: calc(100% - 3rem);
    overflow: scroll;
    overflow-x: hidden;
}
.contact-collection{
    padding-top: 1rem;
    margin: 0;
    border: none;
}
.contact-item{
    padding: .7rem 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(100, 100, 100, 0.5);
}
.contact-item:hover{
    cursor: pointer;
    background-color: #242a38;
}
.contactsContent .img{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
}
.contactsContent img{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    z-index: -1;
}
.contactsName{
    font-size: 1.2rem;
    padding: .5rem 1rem;
    margin: 0;
    color: white;
}

/* search tab */
.searchContent input{
    width: 100%;
    padding: .2rem 1rem;
    margin: 0;
    border-radius: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    border: none;
    background-color: #495063;
}
.btn:focus, input:focus{
    outline: none;
}
.searchContent .searchList{
    height: calc(100% - 6rem);
    margin-top: 1rem;
    overflow: scroll;
    overflow-x: hidden;
}
.searchContent .search-collection{
    /* padding-top: 1rem; */
    margin: 0;
    border: none;
}
.searchContent .search-item{
    padding: .7rem 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(100, 100, 100, 0.5);
}
.searchContent .search-item:hover{
    cursor: pointer;
    background-color: #242a38;
}
.searchContent .img{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
}
.searchContent img{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    z-index: -1;
}
.searchContent .searchName{
    font-size: 1.2rem;
    padding: .5rem 1rem;
    margin: 0;
    color: white;
}
.searchContent .add-friend-btn{
    margin-right: 1rem;
    padding: .3rem .5rem;
    font-size: .8rem;
    color: white;
    background-image: linear-gradient(to right bottom, #f54b64, #f75b61, #f76960, #f77660, #f78361);
    border-radius: 8px;
}

/* notification tab */
.notificationContent .notificationList{
    height: calc(100% - 3rem);
    overflow: scroll;
    overflow-x: hidden;
}
.notificationContent .notification-collection{
    padding-top: 1rem;
    margin: 0;
    border: none;
}
.notificationContent .notification-item{
    padding: .7rem 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(100, 100, 100, 0.5);
}
.notificationContent .notification-item:hover{
    cursor: pointer;
    background-color: #242a38;
}
.notificationContent .img{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
}
.notificationContent img{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    z-index: -1;
}
.notificationContent .notificationName{
    font-size: 1.2rem;
    padding: .5rem 1rem;
    margin: 0;
    color: white;
}
.notificationContent .requests-btn{
    margin-right: 1rem;
    padding: .3rem 1rem;
    color: #ffffff;
    background-image: linear-gradient(to right bottom, #f54b64, #f75b61, #f76960, #f77660, #f78361);
    border-radius: 8px;
}










::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8); 
}

.contact-chatroom{
    background-color: #242a38;
}

@media screen and (max-width: 576px) {
    .contact-chatroom {
      display: none;
    }
  }








